*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Enchanted';
    src: url('../fonts/Enchanted\ Land.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Cursed';
    src: url('../fonts/BlackFlag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}
body, html{
    font-family: 'Enchanted', 'Courier New', Courier, monospace;
    background-color: #d3c29d;
    height: 100%;
    font-size: 23px;
}


.caixa1 , .caixa2{
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../imgs/backdrop6.jpg);
}


.caixa-title , .conteudo-texto{
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.caixa-title span.title{
    border: double rgb(138, 1, 1) 5px;
    border-radius: 6px;
    opacity: 0.8;
    color: rgb(255, 0, 0);
    background-color: black;
    padding: 18px;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 0 0 5px black, 0 0 10px red;
}


/*começo da navbar*/
#navbar{
    padding: 8px;
    list-style-type: none;
    width: 100%;
    background-color: rgb(75, 71, 68);
    text-align: center;
    border-top: double 5px darkred;
    border-bottom: double 5px darkred;
}
#navbar li{
    display: inline-block;
    margin: 5px;
}
#navbar a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 2em;
    line-height: 2em;
    border: solid 2px #333232;
    border-radius: 4px;
    background: radial-gradient(#c0bfa1, #6b6463);
}
#navbar a:hover{
    border-radius: 0px;
    background: radial-gradient(#c5c4ab, #3a3837);
}
/*fim da navbar*/